@import "tailwindcss";

@theme {
  --color-shogi-board: #e8dcc4;     /* 無印風の明るい木・クラフト紙の色 */
  --color-shogi-line: #b3a58d;      /* 柔らかい茶系の線 */
  --color-shogi-piece: #f9f6f0;     /* 無漂白のコットン・生成り色 */
}

@layer base {
  html, body {
    /* 背景色を無印店舗のようなオフホワイト・ライトグレー系に */
    @apply h-full w-full m-0 p-0 text-[#333333] bg-[#faf8f5] font-sans antialiased;
  }
}
